name: Deploy to ECS

on:
  push:
    branches:
      - main
permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: af-south-1
  ECR_REPOSITORY: users-service
  ECS_SERVICE: users-service
  ECS_CLUSTER: decoded-platform-cluster
  ECS_TASK_DEFINITION: users-service-task

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build Maven files
        run: mvn clean package -DskipTests

      - name: Configure AWS Credentials
        id: login-ecr
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::879753556903:role/GitHubActionsECSDeployRole
          aws-region: ${{env.AWS_REGION}}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        run: |
          docker build -t $ECR_REPOSITORY .
          docker tag $ECR_REPOSITORY:latest ${{ steps.login-ecr.outputs.registry}}/$ECR_REPOSITORY:latest
          docker push ${{steps.login-ecr.outputs.registry}}/$ECR_REPOSITORY:latest

      - name: Force new ECS deployment
        run: |
          aws ecs update-service \
            --cluster $ECS_CLUSTER \
            --service $ECS_SERVICE \
            --force-new-deployment
